#ifndef GUARD_@module_name@_H
#define GUARD_@module_name@_H

#include "le_core.h"

struct @module_name@_o;

struct @module_name@_api {

	struct @module_name@_interface_t {

		@module_name@_o *    ( * create                   ) ( );
		void                 ( * destroy                  ) ( @module_name@_o* self );
		void                 ( * update                   ) ( @module_name@_o* self );

	};

	@module_name@_interface_t       @module_name@_i;
};

LE_MODULE( @module_name@ );
LE_MODULE_LOAD_DEFAULT( @module_name@ );

#ifdef __cplusplus

namespace @module_name@ {
	static const auto &api = @module_name@_api_i;
	static const auto &@module_name@_i = api->@module_name@_i;
} // namespace

class @module_name_camelcase_capitalised@ : NoCopy {

	@module_name@_o *self;

  public:
	@module_name_camelcase_capitalised@()
	    : self( @module_name@::@module_name@_i.create() ) {
	}

	// Destructor
	~@module_name_camelcase_capitalised@() {
		if( self ){
			@module_name@::@module_name@_i.destroy( self );
		}
	}

	// Move constructor 
	@module_name_camelcase_capitalised@(@module_name_camelcase_capitalised@&& rhs)
		:self( rhs.self ) {
			// note that this may leave an empty shell in place of rhs
			rhs.self = nullptr;
	}

	// Move assignment
	@module_name_camelcase_capitalised@& operator=(@module_name_camelcase_capitalised@&& rhs){
		if( this->self ){
			@module_name@::@module_name@_i.destroy( this->self );
		}
		this->self = rhs.self;
		rhs.self   = nullptr;
		return *this;
	}

	// ----------------------------------------------------------------------

	void update() {
		@module_name@::@module_name@_i.update( self );
	}

	operator @module_name@_o* () {
		return self;
	}

};

#endif // __cplusplus

#endif
