build
CMakeLists.txt.user
/libs/**
/scripts/py_modules/**
/scripts/*.pyc
/apps/examples/hello_world/resources/images/earthNormalMap_8k-sobel.tga
/apps/examples/hello_world/resources/images/earth_city_lights_8192_rs.png
/apps/examples/hello_world/resources/images/storm_clouds_8k.jpg
/apps/examples/hello_world/resources/shaders/sun.frag
/apps/examples/hello_world/resources/shaders/sun.vert
CMakeLists.txt.user.*
/apps/dev/
/meta
/scripts/build.log
/scripts/run.log
/scripts/screenshots/*/**
/scripts/screenshots/**
/resources/shaders/khronos-shaders/*
/apps/.gitignore
/apps/examples/*/screenshot.png
**/.vs/**/*
apps/examples/hello_world/resources/images/earth_clouds.jpg
apps/examples/hello_world/resources/images/images.tar.gz
apps/examples/hello_world/resources/images/white.tga
apps/examples/hello_world/resources/images/world_winter.jpg
/apps/examples/exr_decode_example/resources/images
/modules/le_image_fx/private/le_image_fx/resources/shaders/compress
/modules/le_image_fx/private/le_image_fx/resources/shaders/spv/blit_frag.spv
/modules/le_image_fx/private/le_image_fx/resources/shaders/spv/blur_frag.spv
/modules/le_image_fx/private/le_image_fx/resources/shaders/spv/fullscreen_vert.spv
/modules/le_2d/private/le_2d/shaders/supplementary_materials/vello_shaders/spv/*
/modules/le_2d/private/le_2d/shaders/vello/compress
