build
CMakeLists.txt.user
.idea/
cmake-build-*/
/libs/**
/3rdparty/include/**
/3rdparty/libs/**
/resources.md
/resources/gltf/FlightHelmet.bin
/resources/gltf/FlightHelmet.gltf
/resources/gltf/GearboxAssy.gltf
/resources/gltf/GearboxAssy0.bin
/3rdparty/src/Vulkan-ValidationLayers/
/scripts/py_modules/**
/scripts/*.pyc
/apps/hello_world/resources/images/normals.ktx
/apps/test_dependency_tracker/CMakeLists.txt
/apps/test_dependency_tracker/main.cpp
/apps/test_dependency_tracker/test_dependency/CMakeLists.txt
/apps/test_dependency_tracker/test_dependency/test_dependency.cpp
/apps/test_dependency_tracker/test_dependency/test_dependency.h
/apps/examples/hello_world/resources/images/earthNormalMap_8k-sobel.tga
/apps/examples/hello_world/resources/images/earth_city_lights_8192_rs.png
/apps/examples/hello_world/resources/images/storm_clouds_8k.jpg
/apps/examples/hello_world/resources/shaders/sun.frag
/apps/examples/hello_world/resources/shaders/sun.vert
CMakeLists.txt.user.*
/apps/dev/test_setup_pass/CMakeLists.txt
/apps/dev/test_setup_pass/main.cpp
/apps/dev/test_setup_pass/test_setup_pass_app/CMakeLists.txt
/apps/dev/test_setup_pass/test_setup_pass_app/test_setup_pass_app.cpp
/apps/dev/test_setup_pass/test_setup_pass_app/test_setup_pass_app.h
/3rdparty/src/cgltf/
/3rdparty/src/jsmn/
/resources/fonts/EBGaramond-Bold.ttf
/resources/fonts/EBGaramond-Italic.ttf
/resources/fonts/IBMPlexSans-Text.ttf
/resources/shaders/gaussian_blur.frag
/resources/shaders/rgb_blit.frag
/resources/shaders/rgb_blit_combine.frag
/apps/dev/
/meta
/scripts/build.log
/scripts/run.log
/scripts/screenshots/*/**
/scripts/screenshots/**
/resources/shaders/khronos-shaders/*
/apps/.gitignore
/apps/examples/*/screenshot.png
**/.vs/**/*
apps/examples/hello_world/resources/images/earth_clouds.jpg
apps/examples/hello_world/resources/images/images.tar.gz
apps/examples/hello_world/resources/images/white.tga
apps/examples/hello_world/resources/images/world_winter.jpg
