[submodule "3rdparty/src/imgui"]
	ignore = all
	path = modules/le_imgui/3rdparty/imgui
	url = https://github.com/ocornut/imgui
[submodule "3rdparty/src/glm"]
	path = 3rdparty/src/glm
	url = https://github.com/g-truc/glm
[submodule "modules/le_tessellator/3rdparty/libtess2"]
	path = modules/le_tessellator/3rdparty/libtess2
	url = https://github.com/memononen/libtess2
[submodule "modules/le_tessellator/3rdparty/earcut.hpp"]
	path = modules/le_tessellator/3rdparty/earcut.hpp 
	url = https://github.com/mapbox/earcut.hpp
[submodule "modules/le_gltf/3rdparty/cgltf"]
	path = modules/le_gltf/3rdparty/cgltf
	url = https://github.com/jkuhlmann/cgltf.git
[submodule "modules/le_window/3rdparty/glfw"]
	path = modules/le_window/3rdparty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "modules/le_midi/3rdparty/rtmidi"]
	path = modules/le_midi/3rdparty/rtmidi
	url = https://github.com/thestk/rtmidi.git
