language: cpp
compiler: 
    - gcc
    - clang
os: linux
dist: focal

before_script:
    - sudo apt-get -y install ninja-build wget xorg-dev
    - wget -qO - https://packages.lunarg.com/lunarg-signing-key-pub.asc | sudo apt-key add -
    - sudo wget -qO /etc/apt/sources.list.d/lunarg-vulkan-1.2.176-focal.list https://packages.lunarg.com/vulkan/1.2.176/lunarg-vulkan-1.2.176-focal.list
    - sudo apt-get -qq update
    - sudo apt-get -y install vulkan-sdk



script: 
    - scripts/ci/run_tests.sh    
git:
    depth: 2

